h1 {
  font-size: 3em;
}
html, body {
  width: 75%;
  word-wrap: break-word;
}
a[id^=opt-] {
  z-index: 9999;
}
.result-title {
  float: left;
  max-width: 94%;
}

#result {
  border: 0;
}

.card {
  padding: 0px;
}