<html>
  <head>
    <meta charset="UTF-8">
    <title>Usefull Bookmark</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/omni.css">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/omni_page.js" charset="UTF-8"></script>
  </head>
  <body class="row">
    <div class="col s12">
      <h1 class="center-align">Result</h1>
      <hr style="margin-top: 20px;">
      <div id="result" class="col s12">
      </div>
    </div>
  </body>
</html>