<html>
  <head>
    <meta charset="UTF-8" />
    <title>Usefull Bookmark</title>
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/omni.js" charset="UTF-8"></script>
    <style type="text/css">
      h1 {
        font-size: 3em;
      }

      html,
      body {
        width: 80%;
        margin: 0px auto;
      }
    </style>
  </head>
  <body class="row">
    <div class="col s12">
      <h1 class="center-align">Result</h1>
      <hr style="margin-top: 20px" />
      <div id="result" class="col s12"></div>
    </div>
  </body>
</html>
