<html>
  <head>
    <title>Usefull Bookmark</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
  </head>
  <body class="row green lighten-2">
    <div>
      <h1 class="center-align col s12 white-text">Bookmarks</h1>
      <div class="col s12 green darken-2">
        <input type="text" id="search">
        <a class="btn blue lighten-1 waves-effect waves-light">Search</a>
      </div>
      <div class="col s12 green lighten-1 white-text">
        <ul>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
        </ul>
      </div>
    </div>
  </body>
</html>
