<html>
  <head>
    <title>Usefull Bookmark</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/bookmark.js"></script>
    <style type="text/css">
h1 {
  font-size: 3em;
}
html, body {
  min-width: 500px;
    width: 600px;
}
form {
  padding: 20px;
}
a[id^=opt-] {
  z-index: 9999;
}
    </style>
  </head>
  <body class="row">
    <div>
      <h1 class="center-align col s12">Bookmarks</h1>
      <form class="col s12 container" id="f-search">
        <div class="col s12 input-field">
          <label for="search">Text</label>
          <input type="text" id="search">
        </div>
        <div>
          <a class="btn blue lighten-1 waves-effect waves-light col s2" id="add" style="margin-bottom: 20px;">add</a><br>
          <a class="btn blue lighten-1 waves-effect waves-light col offset-s7 s3" id="exec" style="margin-bottom: 20px;">Search</a><br>
        </div>
      </form>
      <hr>
      <div class="col s12 flow-text">
        <ul id="result">
        </ul>
    </div>
    <div class="modal" id="option_modal">
      <div class="modal-content row flow-text">
        <h4>Option</h4>
        <div>
          <div>
            <div class="col s4">Name:</div
            ><input class="col s8" id="opt_name" value="">
          </div><br>
          <div>
            <div class="col s4">URL:</div>
            <input class="col s8" id="opt_url" value="">
          </div><br>
          <div>
            <div class="col s4">Tags:</div>
            <input class="col s8" id="opt_tags" value="">
          </div><br>
        </div>
        <div class="offset-s8 s4">
          <a class="btn" id="opt_apply">OK</a>
          <a class="btn" id="opt_cancel">Cancel</a>
          <a class="btn" id="opt_remove">Remove</a>
        </div>
    </div>
    <div class="modal-footer"></a>
  </body>
</html>
